<!--
		=============================================
			Inner Banner
		==============================================
		-->
<div
  class="inner-banner-one pt-225 lg-pt-200 md-pt-150 pb-100 md-pb-70 position-relative"
  style="background-image: url(assets/images/media/img_01.jpg)"
>
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h3 class="hero-heading text-white d-inline-block position-relative">
          Contáctanos para inquietudes
          <img src="assets/images/shape/shape_10.svg" alt="" />
        </h3>
      </div>

    </div>
  </div>
</div>
<!-- /.inner-banner-one -->

<!--
		=============================================
			Contact Us
		==============================================
		-->
<div class="contact-us-section pt-150 lg-pt-80">
  <div class="container">
    <div class="position-relative">
      <div class="row">
        <div class="col-12 m-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="assets/images/icon/icon_90.svg"
                    data-src="assets/images/icon/icon_90.svg"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Dirección</h5>
                <p class="call text-lg fw-500">CALLE 28 22 B 24 <br />Ciudad Jardín</p>
              </div>
              <!-- /.address-block-one -->
            </div>
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="assets/images/icon/icon_91.svg"
                    data-src="assets/images/icon/icon_91.svg"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Teléfono</h5>
                <p>
                  Llama ahora <br /><a
                    href="tel:+573113094098"
                    class="call text-lg fw-500"
                    >311-309-4098</a
                  >
                </p>
              </div>
              <!-- /.address-block-one -->
            </div>
            <div class="col-md-4">
              <div class="address-block-one text-center mb-40 wow fadeInUp">
                <div
                  class="icon rounded-circle d-flex align-items-center justify-content-center m-auto"
                >
                  <img
                    src="assets/images/icon/icon_92.svg"
                    data-src="assets/images/icon/icon_92.svg"
                    alt=""
                    class="lazy-img"
                  />
                </div>
                <h5 class="title">Horarios De Atención</h5>
                <p class="call text-lg fw-500">
                  Lunes - Viernes <br>
                  8:00 AM - 06:00 PM
                </p>
              </div>
              <!-- /.address-block-one -->
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

<!-- ./contact-us-section -->
