<div class="inner-banner-one pt-225 lg-pt-200 md-pt-150 pb-100 md-pb-70 position-relative"
    style="background-image: url(assets/images/media/img_32.jpg);">
    <div class="container position-relative">
        <div class="row align-items-center">

            <div class="col-xl-4 col-lg-5 ms-auto">
                <p class="text-white text-lg mb-70 lg-mb-40">Información contable con respaldo sólido para cada uno de nuestros clientes.</p>

            </div>
        </div>
    </div>
</div>

<div class="service-details mt-150 lg-mt-80 mb-100 lg-mb-80" style="text-align: justify;">
    <div class="container">
        <div class="row" style="">
            <div class="col-xxl-9 col-lg-9 col-sm-6 order-lg-last ">
                <div *ngIf="como" class="details-meta ps-xxl-5 ps-xl-3">
                    
                    <div class="iframe-wrapper">
                        <iframe src="https://www.youtube.com/embed/R0_FEOGJ1FQ?si=pH6AnlivV-cN8iVV"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                    <p>
                        En Arias y Asociados ofrecemos un acompañamiento contable y financiero integral, orientado a
                        garantizar el cumplimiento normativo, la transparencia en la información financiera y la
                        optimización de recursos. Nuestro equipo combina experiencia técnica y conocimiento actualizado
                        de la normatividad colombiana, brindando soluciones estratégicas que apoyan la toma de
                        decisiones y fortalecen la gestión empresarial.
                        Nos enfocamos en prestar servicios confiables, oportunos y adaptados a las necesidades de cada
                        cliente, contribuyendo al crecimiento sostenible y a la correcta gestión de sus obligaciones
                        contables y fiscales.

                    </p>
                </div>
                <div *ngIf="cumplimiento" class="details-meta ps-xxl-5 ps-xl-3">


                    <ul class="style-none list-item pb-20">
                        <li>Cumplimiento de obligaciones contables y societarias ante entes de
                            control: Supersociedades, UGPP, DIAN y demás autoridades competentes.</li>
                        <li>Aplicación actualizada de las Normas de Información Financiera
                            (NIIF) conforme al marco técnico colombiano.</li>
                    </ul>

                </div>
                <div *ngIf="elaboracion" class="details-meta ps-xxl-5 ps-xl-3">
                    <ul class="style-none list-item pb-20">
                        <li>Preparación y análisis de estados financieros.</li>
                        <li>Elaboración y análisis de informes contables para juntas directivas, asambleas, entes de
                            control y entidades financieras.</li>
                        <li>Presentación de información financiera ante los diferentes entes de control (DIAN,
                            Supersociedades, Supersalud, entidades municipales, entre otros).</li>
                    </ul>



                </div>
                <div *ngIf="optimizacion" class="details-meta ps-xxl-5 ps-xl-3">
                    <ul class="style-none list-item pb-20">
                        <li>Elaboración y revisión de declaraciones tributarias: renta, IVA, retenciones, ICA, industria
                            y comercio, patrimonio, activos en el exterior entre otras.</li>
                        <li>Cumplimiento de obligaciones formales y sustanciales para personas jurídicas y naturales
                            obligadas a llevar contabilidad.</li>
                        <li>Asesoría en planeación tributaria para optimizar cargas fiscales dentro del marco legal
                            vigente.</li>

                    </ul>


                </div>
                <div *ngIf="analisis" class="details-meta ps-xxl-5 ps-xl-3">
                    <ul class="style-none list-item pb-20">
                        <li>Elaboración de análisis financieros e indicadores de gestión (liquidez, rentabilidad,
                            endeudamiento, eficiencia operativa).</li>
                        <li>Análisis por líneas de negocio para la toma estratégica de decisiones.</li>
                        <li>Generación de informes ejecutivos para gerencia, inversionistas y socios.</li>
                        <li>Proyecciones financieras para una gestión oportuna y estratégica.</li>

                    </ul>


                </div>
                <div *ngIf="gestion" class="details-meta ps-xxl-5 ps-xl-3">
                    <ul class="style-none list-item pb-20">
                        <li>Diagnóstico de riesgos contables, financieros y de cumplimiento normativo.</li>
                        <li>Implementación o fortalecimiento de políticas contables internas.</li>
                        <li>Revisión de procedimientos contables y formulación de recomendaciones para mitigar
                            contingencias.</li>
                        <li>Identificación de riesgos asociados a facturación electrónica, retenciones y obligaciones
                            fiscales.</li>

                    </ul>


                </div>
                <div *ngIf="planificacion" class="details-meta ps-xxl-5 ps-xl-3">
                    <ul class="style-none list-item pb-20">
                        <li>Elaboración de presupuestos operativos, de inversión y de flujo de caja.</li>
                        <li>Acompañamiento en procesos de expansión, inversión o reestructuración financiera.</li>
                        <li>Proyecciones de flujos de efectivo futuros, planes de inversión y estrategias de
                            sostenibilidad.</li>

                    </ul>


                </div>

            </div>
            <div class="col-xxl-3 col-lg-3 col-sm-6 order-lg-first ">
                <aside class="md-mt-40">
                    <div class="service-nav-item">
                        <ul class="style-none">
                            <li><a (click)="mostrar(1)" style="cursor: pointer;" class=" w-100">
                                    
                                    <span>¿Cómo lo hacemos?</span>
                                </a></li>
                            <li><a (click)="mostrar(2)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Cumplimiento Normativo y Regulatorio</span>
                                </a></li>
                            <li><a (click)="mostrar(3)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Elaboración y Presentación de Estados Financieros</span>
                                </a></li>
                            <li><a (click)="mostrar(4)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Optimización Fiscal y Tributaria</span>
                                </a></li>
                            <li><a (click)="mostrar(5)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Análisis Financiero y Reportes Gerenciales</span>
                                </a></li>
                            <li><a (click)="mostrar(6)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Gestión de Riesgos Contables y Control Interno</span>
                                </a></li>
                            <li><a (click)="mostrar(7)" style="cursor: pointer; text-align: left;" class=" w-100">
                                    
                                    <span>Planificación Financiera y Presupuestal</span>
                                </a></li>

                        </ul>
                    </div>
                    <div class="contact-portfolio text-center mt-40 lg-mt-20">
                        <h3 class="mb-20">Descarga aquí nuestro portafolio</h3>
                        <a href="https://ariasyasociados.co/assets/portafolio/portafolio.pdf" target="_blank"
                            class="tran3s fw-500">Descargalo aquí</a>
                    </div>
                    <div class="contact-banner text-center mt-40 lg-mt-20">
                        <h3 class="mb-20">Tienes Preguntas?</h3>
                        <a href="https://wa.me/573113094098?text=Hola, estoy interesado conocer sus servicios."
                            target="_blank" class="tran3s fw-500">Hablemos</a>
                    </div>
                    <!-- /.contact-banner -->
                </aside>
            </div>
        </div>
    </div>
</div>