.privacy-section {
  background-color: #ffffff;
}
.privacy-content p {
  margin-bottom: 20px;
  line-height: 1.8;
  color: #666;
  text-align: justify;
}
.privacy-content h2 {
  font-weight: 700;
  color: #0b2c3d;
}
