<div class="footer-one">
  <div class="container">
    <div class="inner-wrapper">
      <div class="row justify-content-between">
        <div class="col-xl-4 col-md-3 footer-intro mb-30">
          <!-- <div class="logo mb-15">
            <a href="#" class="d-inline-block d-lg-none">
              <img src="assets/images/logo/logo_01.svg" alt="" />
            </a>
          </div> -->
          <!-- logo -->
          <p class="text-white lh-sm mb-35">
            Negocio mejor valorado
            <span class="opacity-50"
              ><br />
              Consultoría para su éxito.</span>
          </p>
          <ul class="footer-nav-link style-none">
            <li><a href="#" style="font-size: 18px;"><i class="bi bi-building"></i>  Calle 28 22 B 24 B. Ciudad Jardín</a></li>
            <li><a href="#" style="font-size: 18px;"><i class="bi bi-envelope"></i>  contacto@ariasyasociados.co</a></li>
            <li><a href="tel:+573118097328" style="font-size: 18px;"><i class="bi bi-phone"></i>  +57 311-309-4098</a></li>

          </ul>
          <br>
          <ul class="style-none d-flex align-items-center social-icon">
            <li>
              <a href="https://www.facebook.com/anuararias" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <!-- <li>
              <a href="https://ariasyasociados.co/" target="_blank"><i class="bi bi-dribbble"></i></a>
            </li> -->
            <li>
              <a href="https://www.instagram.com/arias.asociados/" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 mb-20">
          <h5 class="footer-title">Links</h5>
          <ul class="footer-nav-link style-none">
            <li><a href="#" [routerLink]="['/home']">Inicio</a></li>
            <li><a href="#" [routerLink]="['/certificados']">Certificados</a></li>
            <!-- <li><a href="#">Nosotros</a></li> -->
            <li><a href="#" [routerLink]="['/servicios']">Servicios</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 mb-20">
          <h5 class="footer-title">Compañia</h5>
          <ul class="footer-nav-link style-none">
            <!-- <li><a href="#">Nosotros</a></li> -->
            <!-- <li><a href="#">Blogs</a></li> -->
            <li><a href="#" [routerLink]="['/contacto']">Contáctanos</a></li>
          </ul>
        </div>

      </div>
    </div>
    <!-- /.inner-wrapper -->
  </div>

</div>
