<div class="footer-one">
  <div class="container">
    <div class="inner-wrapper">
      <div class="row justify-content-between">
        <div class="col-xl-4 col-md-3 footer-intro mb-30">
          <p class="text-white lh-sm mb-35">
            {{ 'FOOTER.TAGLINE' | translate }}
            <span class="opacity-50"><br />
              {{ 'FOOTER.TAGLINE_SUB' | translate }}</span>
          </p>
          <ul class="footer-nav-link style-none">
            <li><a href="#" style="font-size: 18px;"><i class="bi bi-building"></i>  Calle 28 22 B 24 B. Ciudad Jardín</a></li>
            <li><a href="#" style="font-size: 18px;"><i class="bi bi-envelope"></i>  contacto@ariasyasociados.co</a></li>
            <li><a href="tel:+573118097328" style="font-size: 18px;"><i class="bi bi-phone"></i>  +57 311-309-4098</a></li>
            <li><a href="tel:+6052787593" style="font-size: 18px;"><i class="bi bi-telephone"></i>   605-278-7593</a></li>
          </ul>
          <br>
          <ul class="style-none d-flex align-items-center social-icon">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100085289589482" target="_blank"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/arias.asociados/" target="_blank"><i class="bi bi-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/arias-asociados-sas/" target="_blank"><i class="bi bi-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/@AriasYAsociadossas" target="_blank"><i class="bi bi-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 mb-20">
          <h5 class="footer-title">{{ 'FOOTER.LINKS' | translate }}</h5>
          <ul class="footer-nav-link style-none">
            <li><a href="#" [routerLink]="['/home']">{{ 'NAV.HOME' | translate }}</a></li>
            <li><a href="#" [routerLink]="['/certificados']">{{ 'NAV.CERTIFICATES' | translate }}</a></li>
            <li><a href="#" [routerLink]="['/servicios']">{{ 'NAV.SERVICES' | translate }}</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 mb-20">
          <h5 class="footer-title">{{ 'FOOTER.COMPANY' | translate }}</h5>
          <ul class="footer-nav-link style-none">
            <li><a href="#" [routerLink]="['/contacto']">{{ 'NAV.CONTACT' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.inner-wrapper -->
    <div class="bottom-footer">
      <div class="d-lg-flex justify-content-center align-items-center text-center">
        <p class="copyright text-white mb-0" style="font-size: 12px; opacity: 0.7;">
          {{ 'FOOTER.COPYRIGHT' | translate }} |
          <a [routerLink]="['/politicas-de-privacidad']" class="text-white text-decoration-underline" style="font-size: 12px;">{{ 'FOOTER.PRIVACY' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
