<!-- <div id="preloader">
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="icon">
      <img
        src="assets/images/loader.svg"
        alt=""
        class="m-auto d-block"
        width="60"
      />
    </div>
    <div class="txt-loading">
      <span data-text-preloader="A" class="letters-loading"> A </span>
      <span data-text-preloader="r" class="letters-loading"> r </span>
      <span data-text-preloader="i" class="letters-loading"> i </span>
      <span data-text-preloader="a" class="letters-loading"> a </span>
      <span data-text-preloader="s" class="letters-loading"> s </span>
      <span data-text-preloader="" class=""> </span>
      <span data-text-preloader="Y" class="letters-loading"> Y </span>
      <span data-text-preloader="" class=""> </span>
      <span data-text-preloader="A" class="letters-loading"> A </span>
      <span data-text-preloader="s" class="letters-loading"> s </span>
      <span data-text-preloader="o" class="letters-loading"> o </span>
      <span data-text-preloader="c" class="letters-loading"> c </span>
      <span data-text-preloader="i" class="letters-loading"> i </span>
      <span data-text-preloader="a" class="letters-loading"> a </span>
      <span data-text-preloader="d" class="letters-loading"> d </span>
      <span data-text-preloader="o" class="letters-loading"> o </span>
      <span data-text-preloader="s" class="letters-loading"> s </span>
      <span data-text-preloader="s" class="letters-loading"> s </span>
    </div>
  </div>
</div> -->

<!--
		=============================================
			Hero Banner
		==============================================
		-->
<div
  class="hero-banner-one pt-225 xl-pt-200 lg-pt-150 pb-150 lg-pb-100 position-relative"
>
  <div class="hero-slider-one m0">
    <div class="item m0">
      <div
        class="hero-img"
        style="background-image: url(assets/images/banners/banner.jpg)"
      ></div>
    </div>
    <div class="item m0">
      <div
        class="hero-img"
        style="background-image: url(assets/images/banners/banner2.jpg)"
      ></div>
    </div>
    <div class="item m0">
      <div
        class="hero-img"
        style="background-image: url(assets/images/banners/banner3.jpg)"
      ></div>
    </div>
  </div>
  <!-- /.hero-slider-one -->
  <div class="container position-relative">
    <div class="row">
      <div class="col-xl-6 col-lg-12 ms-auto">
        <h1 class="hero-heading d-inline-block position-relative wow fadeInUp display-4">
          Tu Aliado Estratégico en Soluciones Empresariales Contables, Jurídicas y Tributarias
        </h1>
        <p
          class="text-xl text-white pt-35 pb-25 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          Fortalece tu negocio con estrategias innovadoras y soluciones
          efectivas.
        </p>
        <a
          href="https://wa.me/573113094098?text=Hola, estoy interesado conocer sus servicios."
          target="_blank"
          class="btn-two icon-link wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <span>Hablemos!</span>
          <img
            src="assets/images/icon/icon_02.svg"
            data-src="images/icon/icon_02.svg"
            alt=""
            class="lazy-img icon ms-2"
          />
        </a>
      </div>
    </div>
  </div>
  <a

    class="more-btn rounded-circle d-flex align-items-center justify-content-center tran3s wow fadeInLeft"

    ><i class="bi bi-arrow-up-right"></i
  ></a>
</div>
<!-- /.hero-banner-one -->

<!--
		=============================================
			Fancy Banner One
		==============================================
		-->
<div
  class="fancy-banner-one position-relative pt-30 md-pt-20 pb-40 md-pb-20 bg-white"
>
  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-end">
      <h2 class="pe-xl-5 pe-md-4 sm-pb-50">
        Que te parece si <span>EMPEZAMOS</span>
      </h2>
    </div>
    <div class="col-md-6">
      <div
        class="ps-xl-5 ps-md-4 pe-xxl-5 d-flex align-items-center justify-content-between"
      >
        <div>
          <h4 class="fw-bold display-1">+20</h4>
          <p class="text-md m0">Clientes satisfechos</p>
        </div>

        <img
          src="assets/images/testimonial/3.jpg"
          data-src="assets/images/assets/screen_01.png"
          alt=""
          class="lazy-img screen me-xxl-5 rounded-circle"
        />
      </div>
    </div>
  </div>
</div>
<!-- /.fancy-banner-one -->

<!--
		=============================================
			BLock Feature One
		==============================================
		-->
<div class="block-feature-one position-relative pt-75">
  <div class="upper-wrapper mb-110 lg-mb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 wow fadeInUp">
          <div class="card-style-one d-flex w-100 mb-35">
            <div
              class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/images/icon/icon_03.svg"
                data-src="assets/images/icon/icon_03.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text ps-4">
              <h4 class="fw-bold">Precios competitivos</h4>
              <p class="pe-xl-4 ">
                Gracias a nuestra eficiencia operativa y alianzas estratégicas con proveedores, aseguramos valor y calidad a nuestros clientes.
              </p>
            </div>
          </div>
          <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="card-style-one d-flex w-100 mb-35">
            <div
              class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/images/icon/icon_04.svg"
                data-src="assets/images/icon/icon_04.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text ps-4">
              <h4 class="fw-bold">Asesores expertos</h4>
              <p class="pe-xl-4">
                Nuestro equipo combina experiencia y conocimiento para ofrecer soluciones a medida y resultados óptimos.
              </p>
            </div>
          </div>
          <!-- /.card-style-one -->
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
          <div class="card-style-one d-flex w-100 mb-35">
            <div
              class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/images/icon/icon_05.svg"
                data-src="assets/images/icon/icon_05.svg"
                alt=""
                class="lazy-img"
              />
            </div>
            <div class="text ps-4">
              <h4 class="fw-bold">Soporte efectivo</h4>
              <p class="pe-xl-4">
                garantizamos respuestas rápidas y soluciones precisas para cada desafío.
              </p>
            </div>
          </div>
          <!-- /.card-style-one -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.upper-wrapper -->

  <div class="container">
    <div class="position-relative">
      <div class="row">
        <div class="col-md-6">
          <div class="title-one text-center text-md-start mb-30 sm-mb-10">
            <h2>Proporcionamos servicios de calidad.</h2>
          </div>
          <!-- /.title-one -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex wow fadeInUp">
          <div class="card-style-two vstack tran3s w-100 mt-30">
            <img
              src="assets/images/icon/calculator.svg"
              data-src="assets/images/icon/icon_07.svg"
              alt=""
              class="lazy-img icon me-auto"
            />
            <h4 class="fw-bold mt-30 mb-25">Asuntos Contables</h4>
            <p class="mb-20">
              Asesoramos a nuestros clientes de manera integral, permitiendoles conocer de forma clara y sencilla las fortalezas de su empresa. Así mis...
            </p>
            <a

              [routerLink]="['/servicios']"
              class="arrow-btn tran3s mt-auto stretched-link"
              ><img
                src="assets/images/icon/icon_09.svg"
                data-src="assets/images/icon/icon_07.svg"
                alt=""
                class="lazy-img"
            /></a>
          </div>
          <!-- /.card-style-two -->
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="card-style-two vstack tran3s w-100 mt-30">
            <img
              src="assets/images/icon/gavel.svg"
              data-src="assets/images/icon/icon_07.svg"
              alt=""
              class="lazy-img icon me-auto"
            />
            <h4 class="fw-bold mt-30 mb-25">Asuntos Jurídicos</h4>
            <p class="mb-20">
              Buscamos generar valor agregado a las empresas a traves de la asistencia jurídica en los diferentes asuntos relacionados con el derecho laboral, comercial y administrativo.
            </p>
            <a

              [routerLink]="['/servicios']"
              class="arrow-btn tran3s mt-auto stretched-link"
              ><img
                src="assets/images/icon/icon_09.svg"
                data-src="assets/images/icon/icon_08.svg"
                alt=""
                class="lazy-img"
            /></a>
          </div>
          <!-- /.card-style-two -->
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div class="card-style-two vstack tran3s w-100 mt-30">
            <img
              src="assets/images/icon/tax-alt.svg"
              data-src="assets/images/icon/icon_08.svg"
              alt=""
              class="lazy-img icon me-auto"
            />
            <h4 class="fw-bold mt-30 mb-25">Asuntos Tributarios</h4>
            <p class="mb-20">
              En nuestra firma contamos con una amplia experiencia en brindar asesoría especializada en materia tributaria, abarcando desde la planificación estratégica de impuestos...
            </p>
            <a

              [routerLink]="['/servicios']"
              class="arrow-btn tran3s mt-auto stretched-link"
              ><img
                src="assets/images/icon/icon_09.svg"
                data-src="assets/images/icon/icon_09.svg"
                alt=""
                class="lazy-img"
            /></a>
          </div>
          <!-- /.card-style-two -->
        </div>
        <div
          class="col-lg-3 col-md-6 d-flex wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div class="card-style-two vstack tran3s w-100 mt-30">
            <img
              src="assets/images/icon/search-dollar.svg"
              data-src="assets/images/icon/icon_08.svg"
              alt=""
              class="lazy-img icon me-auto"
            />
            <h4 class="fw-bold mt-30 mb-25">Revisoría Fiscal</h4>
            <p class="mb-20">
              La revisoría fiscal brinda un enfoque integral, preventivo y oportuno
              de los diferentes riesgos a los que se expone cada ente económico.
            </p>
            <a

              [routerLink]="['/servicios']"
              class="arrow-btn tran3s mt-auto stretched-link"
              ><img
                src="assets/images/icon/icon_09.svg"
                data-src="assets/images/icon/icon_09.svg"
                alt=""
                class="lazy-img"
            /></a>
          </div>
          <!-- /.card-style-two -->
        </div>
      </div>

      <div class="section-subheading sm-mt-40">
        <p class="text-lg">
          Nos dedicamos a proporcionar servicios de calidad superior, superando las expectativas de nuestros clientes en cada proyecto.
        </p>
        <a  href="https://ariasyasociados.co/assets/portafolio/portafolio.pdf" target="_blank" class="btn-three icon-link">
          <span>Descarga nuestro portafolio</span>
          <img
            src="assets/images/icon/icon_09.svg"
            data-src="assets/images/icon/icon_09.svg"
            alt=""
            class="lazy-img icon ms-1"
          />
        </a>

      </div>
      <!-- /.section-subheading -->
    </div>
  </div>
</div>
<!-- /.block-feature-one -->

<!--
		=====================================================
			Text Feature One
		=====================================================
		-->
<div class="text-feature-one mt-150 lg-mt-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6 wow fadeInLeft">
        <div class="title-one">

          <h2>+20 Clientes usan nuestros servicios.</h2>
        </div>
        <!-- /.title-one -->
        <p class="text-lg mt-45 lg-mt-30 mb-35 lg-mb-20">
          Su éxito es nuestra misión. Como profesionales, ofrecemos orientación experta, liberando su potencial de crecimiento y rentabilidad.
        </p>

      </div>
      <div class="col-xl-7 col-lg-6 wow fadeInRight">
        <div
          class="media-list-item ms-auto pe-xxl-5 pe-4 ps-xxl-5 ps-4 pb-35 md-mt-60 d-flex align-items-end"
        >
          <ul class="style-none">
            <li>Confidencialidad de la información.</li>
            <li>Reputación y Confianza.</li>
            <li>Personalización de Servicios.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.text-feature-one -->

<!--
		=====================================================
			BLock Feature Two
		=====================================================
		-->
<div class="block-feature-two mt-80">
  <div class="container">
    <div class="wrapper">
      <div class="row align-items-center">
        <div class="title-one">
          <div class="upper-title">Nosotros</div>
          <h2 style="text-align: center;">Comprende como hemos sido una marca de éxito.</h2>
        </div>
        <div class="col-md-4">
          <div class="card-style-three pt-45 md-pt-30 pb-35 sm-pb-30">
            <img
              src="assets/images/icon/icon_10.svg"
              data-src="assets/images/icon/icon_10.svg"
              alt=""
              class="lazy-img icon"
            />
            <h4 class="fw-bold mt-40 sm-mt-20 mb-20">Misión</h4>
            <p>
              Proveer servicios de alta calidad en contabilidad, asesoría jurídica, asuntos tributarios y revisoría fiscal a clientes individuales y organizaciones de los sectores público y privado, tanto nacionales como internacionales. Nos dedicamos a generar valor significativo y duradero, ayudando a cada cliente a alcanzar sus objetivos de manera efectiva.
            </p>
          </div>

          <!-- /.card-style-three -->
        </div>
        <div class="col-md-5">
          <div class="border-line h-100 ps-lg-5 pe-lg-5 ps-md-3 pe-md-3">
            <div class="card-style-three pt-45 md-pt-30 pb-35 sm-pb-30">
              <img
                src="assets/images/icon/icon_11.svg"
                data-src="assets/images/icon/icon_11.svg"
                alt=""
                class="lazy-img icon"
              />
              <h4 class="fw-bold mt-40 sm-mt-20 mb-20">Visión.</h4>
              <p>
                Aspiramos a ser la empresa líder en la prestación de servicios profesionales en contabilidad, asuntos jurídicos, asuntos tributarios y revisoría fiscal. Nos comprometemos a fomentar una cultura de servicio excepcional entre nuestros colaboradores, permitiéndonos crecer como equipo y alcanzar la excelencia en todas nuestras acciones.
              </p>
            </div>
            <!-- /.card-style-three -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="ps-lg-5 sm-pb-30 sm-pt-30">
            <div class="numb fw-500"><span class="counter">+</span>7</div>
            <p class="m0">
              Años de experiencia <br />
              comprobada.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-inline-flex flex-wrap align-items-center">
      <a  class="btn-four mt-15 me-4"
        >Te interesa nuestra historia?</a
      >
      <!-- <a href="#" class="btn-three icon-link mt-15">
        <span>Request a Callback</span>
        <img
          src="assets/images/lazy.svg"
          data-src="assets/images/icon/icon_09.svg"
          alt=""
          class="lazy-img icon ms-1"
        />
      </a> -->
    </div>
  </div>
</div>
<!-- /.block-feature-two -->

<!--
		=====================================================
			BLock Feature Three
		=====================================================
		-->
<!-- <div class="block-feature-three position-relative mt-150 lg-mt-80 pb-150 lg-pb-80 sm-pb-60">
  <div class="container">
    <div class="position-relative">
      <div class="row">
        <div class="col-md-6 wow fadeInLeft">
          <div class="title-one mb-90 lg-mb-50">
            <h2>Our client Success Stories.</h2>
          </div>

        </div>
      </div>

      <div class="row gx-xxl-5">
        <div class="col-lg-8">
          <div
            class="block-one pt-45 lg-pt-30 pb-20 ps-3 ps-xl-5 pe-xl-5 pe-3 position-relative border-30 wow fadeInUp"
          >
            <div class="row">
              <div class="col-lg-5">
                <div
                  class="tag d-inline-block border-30 fw-500 text-uppercase mb-15"
                >
                  Consulting
                </div>
                <div class="date text-dark">
                  <span class="fw-500">Featured -</span> 18 Jul 2023
                </div>
              </div>
              <div class="col-lg-7">
                <h3 class="block-title d-inline-block position-relative">
                  <a href="project-details-v1.html"
                    >Manage your online banking and get rewarded</a
                  >
                </h3>
              </div>
            </div>
          </div>


          <div class="block-two border-30 d-flex mt-45 lg-mt-30 wow fadeInUp">
            <div class="img-wrapper"></div>
            <div class="text-wrapper bg-white">
              <div class="date">18 Jul 2023</div>
              <h3
                class="block-title d-inline-block position-relative mt-5 mb-40 lg-mb-30"
              >
                <a href="project-details-v1.html"
                  >Gold card user will get priority pass for
                  <br class="d-none d-lg-block" />
                  Airport.</a
                >
              </h3>
              <div class="d-flex align-items-center justify-content-between">
                <div class="tag text-uppercase fw-500">Payments</div>
                <a
                  href="project-details-v1.html"
                  class="round-btn rounded-circle d-flex align-items-center justify-content-center tran3s"
                  ><i class="bi bi-arrow-up-right"></i
                ></a>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-4">
          <div
            class="block-three border-30 ps-lg-4 ps-3 pe-lg-4 pe-3 pt-40 lg-pt-30 pb-30 md-mt-30 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <div class="date">3 Aug 2023</div>
            <h3
              class="block-title d-inline-block position-relative mt-20 mb-80 lg-mb-50"
            >
              <a href="project-details-v1.html"
                >Gold card user will get priority pass for Airport.</a
              >
            </h3>
            <div class="d-flex align-items-center justify-content-between">
              <div class="tag text-uppercase fw-500">DESIGN</div>
              <a
                href="project-details-v1.html"
                class="round-btn rounded-circle d-flex align-items-center justify-content-center tran3s"
                ><i class="bi bi-arrow-up-right"></i
              ></a>
            </div>
          </div>

          <div
            class="block-four border-30 ps-lg-4 ps-3 pe-lg-4 pe-3 pt-15 pb-30 mt-45 lg-mt-30 wow fadeInUp"
            data-wow-delay="0.2s"
          >
            <h3
              class="block-title d-inline-block position-relative mt-20 mb-250 lg-mb-150 sm-mb-100"
            >
              <a href="project-details-v1.html"
                >Our Travel Card Makes <br class="d-none d-xl-block" />you
                Happy.</a
              >
            </h3>
            <div class="d-flex align-items-center justify-content-between">
              <div class="tag text-uppercase fw-500">DESIGN</div>
              <a
                href="project-details-v1.html"
                class="round-btn rounded-circle d-flex align-items-center justify-content-center tran3s"
                ><i class="bi bi-arrow-up-right"></i
              ></a>
            </div>
          </div>

        </div>
      </div>

      <div class="section-btn sm-mt-40">
        <a href="project-v1.html" class="btn-five icon-link">
          <span class="text">See all stories</span>
          <div
            class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
          >
            <i class="bi bi-arrow-up-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->


<!--
		=============================================
			Feedback Section One
		==============================================
		-->
<div class="feedback-section-one mt-150 lg-mt-80 pb-80">
  <div class="container">
    <div class="position-relative">
      <div class="title-one sm-mb-40">
        <h2>
          Testimonios de<br />
          clientes.
        </h2>
      </div>
      <!-- /.title-one -->
      <div class="feedback-slider-one">
        <div class="item">
          <div class="feedback-block-one">
            <div class="row align-items-end">
              <div class="col-md-7 ms-auto order-md-last">
                <blockquote style="font-size: 24px;">
                  "con una larga trayectoria de mas de 7 años de experiencia, ratificamos que son los mejores en lo que hacen.
                  Con Arias & Asociados hemos encontrado un aliado estratégico que entiende a la perfección nuestras necesidades contables y financieras.
                  Su asesoría precisa y su acompañamiento constante nos han permitido tomar decisiones clave para el crecimiento de nuestra empresa.
                  Los recomendamos plenamente por ser un equipo confiable y plenamente profesional."
                </blockquote>
                <div class="d-flex align-items-center">
                  <img
                    width="120"
                    height="120"
                    src="assets/images/testimonial/CONCREACEROS.png"
                    alt=""
                    class="rounded-circle"
                  />
                  <div class="ps-4">
                    <div class="name fw-bold text-dark">Concreaceros.</div>
                    <!-- <p class="fs-6 m0">Líderes en tecnología del acero.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4 order-md-first">
                <div
                  class="d-flex align-items-center justify-content-between sm-mt-40"
                >
                  <div class="line"></div>
                  <div class="count fw-500">
                    <span class="text-dark">01</span> / 05
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedback-block-one">
            <div class="row align-items-end">
              <div class="col-md-7 ms-auto order-md-last">
                <blockquote style="font-size: 24px;">
                  "Arias & Asociados ha sido una de nuestras mejores decisiones. Su equipo nos ha brindado una visión integral para gestionar tanto los aspectos financieros como contables de nuestros proyectos.
                  Gracias a su apoyo, podemos enfocarnos en lo que hacemos mejor: construir el futuro."
                </blockquote>
                <div class="d-flex align-items-center">
                  <img
                    width="120"
                    height="120"
                    src="assets/images/testimonial/ATLANTIS.png"
                    alt=""
                    class=" rounded-circle"
                  />
                  <div class="ps-4">
                    <div class="name fw-bold text-dark">atlantis Constructora.</div>
                    <!-- <p class="fs-6 m0">CEO Empresa dedicada al acero.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4 order-md-first">
                <div
                  class="d-flex align-items-center justify-content-between sm-mt-40"
                >
                  <div class="line"></div>
                  <div class="count fw-500">
                    <span class="text-dark">02</span> / 05
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedback-block-one">
            <div class="row align-items-end">
              <div class="col-md-7 ms-auto order-md-last">
                <blockquote style="font-size: 24px;">
                  "Manejar una clínica pediátrica es un desafio enorme, y saber que podemos contar con Arias & Asociados para todos los asuntos financieros y contables nos da tranquilidad.
                   Son como un apoyo extra que siempre está a la mano. Lo mejor es que explican todo con un lenguaje simple y directo, sin tecnicismos. Nos hacen sentir acompañados en cada paso."
                </blockquote>
                <div class="d-flex align-items-center">
                  <img
                    width="120"
                    height="120"
                    src="assets/images/testimonial/CARDIOCENTRO.png"
                    alt=""
                    class=" rounded-circle"
                  />
                  <div class="ps-4">
                    <div class="name fw-bold text-dark">Cardiocentro pediátrico de sucre.</div>
                    <!-- <p class="fs-6 m0">Administradora de una Clínica Médica Privada.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4 order-md-first">
                <div
                  class="d-flex align-items-center justify-content-between sm-mt-40"
                >
                  <div class="line"></div>
                  <div class="count fw-500">
                    <span class="text-dark">03</span> / 05
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedback-block-one">
            <div class="row align-items-end">
              <div class="col-md-7 ms-auto order-md-last">
                <blockquote style="font-size: 24px;">
                  "Es un honor contar con Arias & Asociados como aliados estratégicos. Son 7 años en el mercado y han sido un pilar fundamental en el manejo contable y legal de nuestra clínica.
                   Su dedicación y atención al detalle nos han permitido concentrarnos en brindar una atención médica integral y de calidad, mientras ellos se encargan de todo lo demas con mayor eficiencia."
                </blockquote>
                <div class="d-flex align-items-center">
                  <img
                    width="120"
                    height="120"
                    src="assets/images/testimonial/CORAZÓN.png"
                    alt=""
                    class=" rounded-circle"
                  />
                  <div class="ps-4">
                    <div class="name fw-bold text-dark">Clínica del corazón.</div>
                    <!-- <p class="fs-6 m0">Administradora de una Clínica Médica Privada.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4 order-md-first">
                <div
                  class="d-flex align-items-center justify-content-between sm-mt-40"
                >
                  <div class="line"></div>
                  <div class="count fw-500">
                    <span class="text-dark">04</span> / 05
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedback-block-one">
            <div class="row align-items-end">
              <div class="col-md-7 ms-auto order-md-last">
                <blockquote style="font-size: 24px;">
                  "Gracias a Arias & Asociados hemos podido optimizar nuestra estructura contable y financiera, lo que no sha permitido crecer de manera segura y eficiente.
                  Su equipo está siempre disponible para resolver nuestras dudas y guiarnos con un enfoque personalizado y profesional"
                </blockquote>
                <div class="d-flex align-items-center">
                  <img
                  width="120"
                    height="120"
                    src="assets/images/testimonial/SALUD-LADO.png"
                    alt=""
                    class=" rounded-circle"
                  />
                  <div class="ps-4">
                    <div class="name fw-bold text-dark">IPS Salud a tu lado.</div>
                    <!-- <p class="fs-6 m0">Administradora de una Clínica Médica Privada.</p> -->
                  </div>
                </div>
              </div>
              <div class="col-md-4 order-md-first">
                <div
                  class="d-flex align-items-center justify-content-between sm-mt-40"
                >
                  <div class="line"></div>
                  <div class="count fw-500">
                    <span class="text-dark">05</span> / 05
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="icon d-flex align-items-center justify-content-center rounded-circle"
      >
        <img
          src="assets/images/icon/icon_12.svg"
          data-src="assets/images/icon/icon_12.svg"
          alt=""
          class="lazy-img"
        />
      </div>
    </div>
  </div>
</div>
<!-- /.feedback-section-one -->

<!--
		=====================================================
			Team Section One
		=====================================================
		-->
<div class="team-section-one mt-150 lg-mt-80">
  <div class="container">
    <div class="position-relative">
      <div class="title-one mb-40 lg-mb-20 wow fadeInUp">
        <h2>Nuestros colaboradores.</h2>
      </div>
      <!-- /.title-one -->

      <div class="row" style="justify-content: space-evenly;">
        <div class="col-lg-4 col-sm-6 wow fadeInUp">
          <div class="card-style-four mt-35">
            <div
              class="media d-flex align-items-center justify-content-center position-relative overflow-hidden"
            >
              <img
                src="assets/images/team/a.png"
                data-src="assets/images/media/img_09.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <!-- <a
                href="#"
                class="round-btn rounded-circle d-flex align-items-center justify-content-center tran3s"
                ><i class="bi bi-arrow-up-right"></i
              ></a> -->
            </div>
            <h4 class="fw-500 pt-20 m0">Anuar Arias</h4>
            <div class="fs-6">Fundador & CEO</div>
          </div>
          <!-- /.card-style-four -->
        </div>
        <div class="col-lg-4 col-sm-6 wow fadeInUp">
          <div class="card-style-four mt-35">
            <div
              class="media d-flex align-items-center justify-content-center position-relative overflow-hidden"
            >
              <img
                src="assets/images/team/ks.png"
                data-src="assets/images/media/img_09.jpg"
                alt=""
                class="lazy-img w-100"
              />
              <!-- <a
                href="#"
                class="round-btn rounded-circle d-flex align-items-center justify-content-center tran3s"
                ><i class="bi bi-arrow-up-right"></i
              ></a> -->
            </div>
            <h4 class="fw-500 pt-20 m0">Karen Sequeda</h4>
            <div class="fs-6">Sub gerente</div>
          </div>
          <!-- /.card-style-four -->
        </div>

      </div>

      <!-- <div class="section-btn sm-mt-40">
        <a href="#" class="btn-five icon-link">
          <span class="text">See all Experts</span>
          <div
            class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
          >
            <i class="bi bi-arrow-up-right"></i>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</div>
<!-- /.team-section-one -->

<!--
		=====================================================
			FAQ Section One
		=====================================================
		-->
<!-- <div class="faq-section-one mt-150 lg-mt-120 md-mt-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 wow fadeInLeft">
        <div class="title-one mb-40 lg-mb-20">
          <h2>Preguntas y Respuestas</h2>
        </div>

        <p class="text-lg mb-40 lg-mb-20">No encuentras respuestas? Podemos ayudarte</p>
        <a href="#" class="btn-four">Contáctanos</a>
      </div>

      <div class="col-lg-7">
        <div
          class="accordion accordion-style-one mt-15 md-mt-50"
          id="accordionOne"
        >
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                How does the free trial work?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit .
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                How do you find different criteria in your process?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit .
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="true"
                aria-controls="collapseThree"
              >
                What do you look for in a founding team?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit .
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                Do you recommend Pay as you go or Pre pay?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit .
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                What do I get for $0 with my plan?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionOne"
            >
              <div class="accordion-body">
                <p>
                  Quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                  ea commodo consequat. Duis aute irure dolor in reprehenderit
                  in voluptate velit .
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /.faq-section-one -->

<!--
		=====================================================
			Blog Section One
		=====================================================
		-->
<div class="blog-section-one position-relative mt-150 lg-mt-80 pt-120 lg-pt-80">
  <div class="container">
    <div class="position-relative">
      <div class="title-one mb-20 lg-mb-10">
        <h2>Últimas noticias.</h2>
      </div>

      <p class="text-lg mb-40 lg-mb-10">
        Obtenga las últimas actualizaciones y tips de parte de nuestros expertos.
      </p>

      <div class="row gx-xxl-5">
        <div class="col-md-6" *ngFor="let post of posts">
          <article class="blog-meta-one mt-35 sm-mt-30 wow fadeInUp">
            <div class="post-data">
              <div class="post-info">
                <span class="fw-500 text-dark">{{post.user.name}}</span> {{ post.created_at | date:'dd MMM yyyy' }}
              </div>
              <a  class="mt-15" (click)="irEntrada(post.id)"
                ><h4 class="tran3s blog-title">
                  {{ post.title }}
                </h4></a
              >
            </div>
            <!-- <figure
              class="post-img position-relative d-flex justify-content-end align-items-end m0"
              [ngStyle]="{'background-image': 'url(https://blog.ariasyasociados.co/storage/' + post.image_url  + ')'}"
            >
              <a

                (click)="irEntrada(post.id)"
                class="round-btn stretched-link rounded-circle d-flex align-items-center justify-content-center tran3s"
                ><i class="bi bi-arrow-up-right"></i
              ></a>
            </figure> -->
            <p style="text-align: justify; padding: 5%;" [innerHTML]="post.body"></p>
          </article>

        </div>

      </div>

      <div class="section-btn sm-mt-40">
        <a [routerLink]="['/blog']" class="btn-five icon-link">
          <span class="text">Todas las noticias</span>
          <div
            class="icon tran3s rounded-circle d-flex align-items-center justify-content-center"
          >
            <i class="bi bi-arrow-up-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.blog-section-one -->

<!--
		=====================================================
			Fancy Banner Two
		=====================================================
		-->
<!-- <div class="fancy-banner-two mt-150 lg-mt-80 mb-150 lg-mb-60">
  <div class="container">
    <div class="text-center wow fadeInUp">
      <div class="row">
        <div class="col-lg-8 m-auto">

        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- /.fancy-banner-two -->

 <!--
		=====================================================
			Partner Logo
		=====================================================
		-->
  <section id="clientes">
    <div class="partner-logo-one pt-80 lg-pt-50 pb-80 lg-pb-50" style="text-align: center;">
      <div class="container">
        <div class="title-one mb-100 lg-mb-10">
          <h2>Nuestros Clientes.</h2>
        </div>
          <div class="partner-slider-one">
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/7.png" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/8.jpg" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/9.png" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/10.png" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/11.jpg" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/12.jpg" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/13.png" alt=""></div>
              </div>
              <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/setas.png" alt=""></div>
              </div>
              <!-- <div class="item">
                  <div class="logo d-flex align-items-center justify-content-center"><img src="assets/images/partner/17.png" alt=""></div>
              </div> -->
          </div>
      </div>
    </div>

  </section>
  <!-- /.partner-logo-one -->
  <div class="chat-bubble" (click)="toggleChat()">
    <!-- Icono o imagen para la burbuja, usa Font Awesome o similar -->
    <i class="fas fa-coins" style="color: white; font-size: 24px;"></i>
  </div>

  <div class="chat-container" [class.show-chat]="showChat">
    <app-indicadores-economicos></app-indicadores-economicos>
  </div>
